In [104]:
x = 2

In [105]:
print (x)

2

In [106]:
type(x)

int

In [107]:
id(x)

140064028147984

In [108]:
name = input('whatis your name?')

whatis your name?Ayush

In [109]:
#print(name)
type(name)

str

In [110]:
#value=int(input("enter marks="))
value=float(input("enter marks="))

enter marks= 78

In [111]:
print(value)

78.0

## Set

In [112]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print("Set 1:", set1)
print("Set 2:", set2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}

In [113]:
# Union of two sets
union_set = set1 | set2
print("Union of Set 1 and Set 2:", union_set)

# Intersection of two sets
intersection_set = set1 & set2
print("Intersection of Set 1 and Set 2:", intersection_set)

Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of Set 1 and Set 2: {4, 5}

In [114]:
# Add an element to a set
set1.add(9)
print("Set 1 after adding 9:", set1)

# Remove an element from a set
set1.remove(4)
print("Set 1 after removing 4:", set1)

Set 1 after adding 9: {1, 2, 3, 4, 5, 9}
Set 1 after removing 4: {1, 2, 3, 5, 9}

In [115]:
# Check if an element is in a set
print("Is 3 in Set 1?", 3 in set1)

# Check if an element is not in a set
print("Is 10 not in Set 1?", 10 not in set1)

Is 3 in Set 1? True
Is 10 not in Set 1? True

In [116]:
# Clear a set
set1.clear()
print("Set 1 after clearing:", set1)

Set 1 after clearing: set()

## List

In [117]:
list =[10,20,30,40]
list.remove(30) # remove specific element
list

[10, 20, 40]

In [118]:
list.pop(1) #use to remove element from desired position
list

[10, 40]

In [119]:
list.clear() # clear all the element
list

[]

In [120]:
L=[3,4,5]
L.append(8) # add an element
L
L.extend([7,8,9]) # use to add more than 1 elememt
L

[3, 4, 5, 8, 7, 8, 9]

In [121]:
L.insert(2,9)
len(L)
L.index(4)

1

In [122]:
old_list= [1,2,3,4]
new_list=old_list
new_list.append(5)
new_list
old_list
new_list= old_list.copy() # use to copy
old_list

[1, 2, 3, 4, 5]

In [123]:
list=['Prakash' , 'x ', 1 ,2.0]
new_list=list[0:2]
new_list.append(8)
new_list

['Prakash', 'x ', 8]

In [124]:
message=" welcome to ims "
message.split() #split the text
message.replace('o','0') #use to replace words

' welc0me t0 ims '

In [125]:
x = 'bread'
if (x=='bread'):
  print('this is my breakfast')

this is my breakfast

In [126]:
a= 10
b= 20
#if(b>a):
#  print('b is greater than a')
# if(b>a):print('a is less than a ')
#else:
#  print("A is less than B")
print('a')if(a>b)else print('b')

b

In [127]:
x=2
y=3
z=4
if (x>y):
   print('x greater')
elif(x<z):
   print('z is greater than x and y ')
else:
   print('y is greater')

z is greater than x and y

In [128]:
x=int(input("enter number"))
if(x%2==0):
  print('x is even')
else:
  print('x is odd')

enter number1
x is odd

In [129]:
x=0
while(x<=10):  #int i,  x>0; ;<i++
  print(x)
  x=x+1
  x

0
1
2
3
4
5
6
7
8
9
10

In [130]:
#horizontally
a=0
b=10
while(a<b):
  print(a, end=" ")
  a+=1

0 1 2 3 4 5 6 7 8 9

In [131]:
name='kishi'
while(name):
  print(name)
  name=name[1:] #displaying string after striking off each character

kishi
ishi
shi
hi
i

In [132]:
s= "hello"
for v in s:
  print(v)

h
e
l
l
o

In [133]:
x=2
x

2

In [134]:
type(x)

int

In [135]:
x = 4
y = 11
p= 5.0
ans= x**(y%p)
print(ans)

4.0

In [136]:
num=20.5
z=3
result=2+z*3+num//z
print(result)

17.0

In [137]:
X=300
Y= 17
X%=Y
print(X)

11

In [138]:
 a = 'gOOd moRning'
a.title( ) #use to make text in Arranged order as title

'Good Morning'

In [139]:
Mylist =['a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'e']
Mylist.index('d')

7

In [140]:
L1=[1,2,3,4,5]
L2=[6,7,8,9,0]
print('enter elements for first list:')
for i in range(10):
  n =int(input('enter a number'))
  L1.append(n)

enter elements for first list:
enter a number1
enter a number2
enter a number3
enter a number4
enter a number5
enter a number6
enter a number7
enter a number8
enter a number9
enter a number0

In [141]:
print("enter elements for second list :")
for i in range (10):
  n=int (input("enter a number"))
  L2.append(n)

enter elements for second list :
enter a number11
enter a number12
enter a number13
enter a number14
enter a number15
enter a number16
enter a number17
enter a number18
enter a number19
enter a number20

In [142]:
L3=L1+L2
print(L3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 6, 7, 8, 9, 0, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [143]:
L4=L3
L4.sort()
print(L4)

[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [144]:
L4.reverse()
print(L4)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 9, 9, 8, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 2, 1, 1, 0, 0]

## Dictionary

In [145]:
d1={1:'amit', 2:'sumit', 3:'ravi'}
marks={'amit':45,'sumit':55,'ravi':65 }
print(d1[3])
print(marks['sumit'])

ravi
55

In [146]:
dict={1:'amit', 2:'sumit', 3:'ravi'}
rn=int(input('enter a rollno'))
print('name is',dict[rn])

enter a rollno 2
name is sumit